html,
body,
#app {
  min-height: 100%; /* allow it to grow with content */
  margin: 0;
  padding: 0;
  background-image: url('/background.png'); /* no @, starts with / */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; /* prevent repeating */
}

html.dark {
  color-scheme: dark;
}

.background-blur {
  backdrop-filter: blur(10px);
}
