html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url('/background.png'); /* no @, starts with / */
  background-size: cover;
  background-position: center;
}

html.dark {
  color-scheme: dark;
}
